@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

$dotted-line-color1: hsla(0, 0%, 0%, 0);
$dotted-line-color2: hsla(0, 0%, 100%, 1);
$scissors-color: hsla(0, 0%, 20%, 1);

#centerPanel {
	width:55%;
	text-align:center;
	margin-top: 6em;

	img {
		max-width:100%;
		position: relative;
	}
}

.candidate-face {
	position: relative;

	& > div {
		display:inline-block;
		width:50%;
		position:relative;
		overflow:hidden;

		& > div {
			content: '';
			position: absolute;
			height: 100%;
			width: 1px;
			background: repeating-linear-gradient(
				180deg,
				$dotted-line-color2,
				$dotted-line-color2 1em,
				$dotted-line-color1 1em,
				$dotted-line-color1 2em
			);
			transition: opacity .2s;
			z-index: 100;
		}
	}

	& > div:first-of-type {
		img {
			left:50%;
		}

		& > div {
			right: 0;
		}
	}

	& > div:last-of-type {
		img {
			right:50%;
		}

		& > div {
			left: 0;
		}
	}

	span {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -100%) rotate(90deg);
		color: $scissors-color;
		transition: opacity .2s;
	}
}

.candidate-details {
	margin-top: 1em;
	font-family: 'Yanone Kaffeesatz', sans-serif;

	& > * {
		display:inline-block;
	}
}

.name-holder {
	font-size: 3.5em;
	font-weight:200;
	text-align:right;
	padding-right:1.2rem;
}

.details-holder {
	border-left:1px solid grey;
	text-align:left;
	padding-left:1.2em;
	font-weight:300;
}