.likePanel{
	text-align:center;
	width:20%;
	height:100%;
	font-family: 'Oleo Script', cursive;
}
.likePanel-text{
	font-size:3em;
	position:relative;
	top:25%;
	opacity:0.2;
	transform: rotateZ(-5deg);
}