.likePanel{
	text-align:center;
	width:22.5%;
	height:100%;
	font-family: 'Oleo Script', cursive;
}
.likePanel-text{
	font-size:3em;
	position:relative;
	top: 40%;
	opacity:0.2;
	transform: translateY(-50%) rotateZ(-5deg);
}